joblib
pandas
numpy
matplotlib
streamlit
scikit-learn
sentence-transformers>=2.2.0   # For SBERT (Resumes/JDs to Vectors)
torchvision
torchinfo
opencv-python
Pillow==11.1.0
open_clip_torch
annoy
hf_xet
gdown
google-api-python-client
google-auth